################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ContactListAPI_MVC/.vs/ContactListAPI_MVC/v15/Server/sqlite3
